body {
    font-family: Roboto;
}

.header, footer {
    background-color: #1F2937;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#E5E7EB
}

a:visited {
    text-decoration: none;
}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    gap: 10px;
}
.nav-left {
    margin-left: 180px;
    color: white;
    font-size: 24px;
}

.forest {
    height: 150px;
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-left: 20px;
    margin-bottom: -8px;
}
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    text-wrap: wrap;
    padding-left: 20px;

}
.container-leftside {
    display: flex;
    flex-direction: column;
}
.left-with-img {
    display: flex;
    gap: 20px;
}

.button-one {
    color: #F9FAF8;
    background-color: #3882F6;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 100px;
    border-radius: 16px;
    margin-bottom: 20px;
    margin-left: 30px;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 50px;
}

.container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.img-container1, .img-container2,
.img-container3, .img-container4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.img1, .img2,
.img3, .img4 {
    height: 100px;
    width: 100px;
    border: solid;
    border-color: #3882F6;
    border-width: 4px;
    border-radius: 6px;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    text-wrap: wrap;
}

.thor {
    margin-left: 800px;
    margin-bottom: 20px;
}

.section-four {
    margin: 48px;
}
.section-four-container {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1 1 0%;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 12px;
}

.action {
    color: #F9FAF8;
    font-size: 12px;
    margin-bottom: -4px;
}

.info {
    color: #F9FAF8;
    font-size: 8px;
}

.calltoaction {
    display: flex;
    flex-direction: column;
}
.button-two {
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    border-radius: 4px;
    border-color: #F9FAF8;
    padding: 8px;
    margin-left: 90px;
}
footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 20px;
}
